body {
  color: #eeebdd;
  font-family: 'Average', sans-serif;
  font-weight: normal;
  background-color: #1b1717;
}

header {
  background-color: #ce1212;
}

.mana-container {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.mana-symbol {
  width: 16px;
  height: 16px;
}

.majax-item {
  color: #eeebdd;
  display: flex;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 3.25rem;
  border-radius: 11px;
  background-color: #810000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.253);
}

.majax-item .art-crop {
  border-radius: 11px;
  width: 10%;
}

.majax-item button {
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 1rem;
}

.load-modal img {
  transform: scale(2);
  mix-blend-mode: multiply;
}

.majax-item > div:nth-child(1) {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eeebdd;
  margin-right: 5px;
}

.majax-item > div:nth-child(2) {
  margin-right: 0.5rem;
}

.majax-item > div:nth-child(2) img {
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 black;
}

.material-icons {
  font-size: 40px;
}

.majax-item .material-icons {
  padding: 0;
  margin: 0;
  font-size: 16px;
  transform: scale(2);
  color: #eeebdd;
}

.majax-item-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.majax-item-container::-webkit-scrollbar {
  display: none;
}

.card-list-container {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-list {
  width: 100%;
  height: 83.5vh;
  border-radius: 11px;
  background-color: #ce1212;
}

.card-list-desktop {
  border-radius: 11px;
  margin-top: 5px;
  width: 100%;
  height: 83.5vh;
  background-color: #ce1212;
}

.desktop {
  width: calc(200% / 3);
  display: none;
}

.deck-list-desktop {
  margin-top: 5px;
  width: 100%;
  height: 6rem;
  border-radius: 11px;
  background-color: #ce1212;
}

.text-center {
  text-align: center;
}

.deck-image-box {
  box-shadow: 1px 4px 4px 0 black;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)),
    url("https://http.cat/204");
  background-position: center;
  background-size: cover;
  border-radius: 11px;
  height: 6rem;
}

.search-box-container {
  z-index: 2;
  width: 100%;
  position: relative;
}

.search-icon {
  color: black;
  position: absolute;
  left: 18px;
  top: 18px;
  font-size: large;
}

.load-modal {
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 35%;
}

.search-modal {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.801);
}

.carousel {
  max-width: 100%;
  overflow-x: clip;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-modal button {
  box-shadow: 0 0 20px 1px  rgba(0, 0, 0, 0.301);
  font-family: 'Average', sans-serif;
  margin: 1rem;
  color: white;
  border-radius: 11px;
  border: none;
  width: 100px;
  height: 25px;
  background-color: #1b1717;
}

h1 {
  font-weight: normal;
  font-family: 'Philosopher', sans-serif;
}

.deck-image-box h1 {
  font-weight: normal;
  font-family: 'Average', sans-serif;
}

.line-right {
  border-right: 1px solid #eeebdd;
}

/*
  Workaround to make flickity show overflowed cards.
*/
.flickity-viewport {
  overflow: unset !important;
  overflow-x: clip !important;
}

.MajaxCard {
  box-shadow: 0 0 0 4px 4px black;
  transition: transform 0.2s;
  height: 256px;
  width: 182px;
  border-radius: 11px;
}

input {
  margin-top: 1rem;
  height: 1.3rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-family: 'Average', sans-serif;
  padding-left: 30px;
}

@media only screen and (min-width: 900px) {
  .card-list-container {
    width: calc(100% / 3);
    height: 83.5vh;
  }

  .load-modal {
    top: 49%;
    left: 46.7%;
  }

  .desktop {
    display: unset;
  }

  .search-box-container {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% / 3);
  }

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .mobile {
    display: unset;
  }

  .desktop {
    display: none;
  }

  .carousel {
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
  }

  .is-selected {
    transform: scale(1.25);
    z-index: 2;
  }
}
